
.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    
  }

  .title {
    margin-bottom: 20px;
  }
  

  .formControl {
    margin: 16px 0;
  }
  


  .submitButton {
    margin-top: 20px;
  }

  
  
  