
.registrationContainer {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    
  }

  .registrationTitle {
    margin-bottom: 20px;
  }
  

  .formControl {
    margin: 16px 0;
  }
  

  .customSelect {
    & .MuiOutlinedInput-root {
        border-color: #c1c1c1; 
        &:hover .MuiOutlinedInput-notchedOutline {
            border-color: #c1c1c1; 
        }
        &.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: #c1c1c1; 
        }
    }
    & .MuiInputLabel-root {
        color: black; 
    }
    & .MuiSelect-icon {
        color: black; 
    }
    & .MuiSelect-select {
        color: black; 
        background-color: #f0f0f0; 
    }
}

  .submitButton {
    margin-top: 20px;
  }

  
  
  