.table-container {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(33, 33, 33, 0.1);
  }
  
  .table {
    min-width: 650px;
  }
  
  .header-cell {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 16px;
  }
  
  .cell {
    padding: 16px;
  }
  
  .button {
    margin: 4px;
  }